@import "tailwindcss";
:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
